.SignUp {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border: 2px solid black;
    min-width: 280px;
    max-width: 600px;
    border-radius: 7px;
}

legend {
    color: rgb(112, 34, 236);
    font-size: 20px;
    font-weight: 700;
}

.SignUp input {
    margin: 10px;
}

.SignUp button {
    margin: 10px;
    border: 2px solid grey;
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: 700;
}

@media (max-width: 670px) {
    .SignUp {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media (max-width: 400px) {
    .SignUp {
        margin-left: 5px;
        margin-right: 5px;
        padding-left: 10px;
        padding-right: 10px;
    }
}