.BuildControl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.BuildControl button {
    display: block;
    font: inherit;
    padding: 3px;
    margin: 0 12px;
    width: 100px;
    border: 1px solid #A34AFC;
    border-radius: 7px;
    cursor: pointer;
}

.BuildControl button:disabled {
    background-color: rgba(64, 175, 64, 0.123);
    cursor: not-allowed;
    border: 1px solid rgb(170, 170, 170);
    color: rgb(231, 228, 228);
    cursor: not-allowed;
}


.Remove {
    background-color: #4b1072b0;
    color: white;
}

.Add {
    background-color: #4b1072b0;
    color: white;
}

.Remove:hover,
.Remove:active {
    background-color: #9a7aaf8a;
    color: red;
}

.Add:hover,
.Add:active {
    background-color: #9a7aaf8a;
    color: rgba(82, 255, 47, 0.664);
}

.Disabled {
    background-color: #721010e0;
    color: white;
}