.ContactData {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;

}

.Input {
    display: block;
}

@media (min-width: 500px) {
    .ContactData {
        max-width: 500px;
    }
}