.stick {
    width: 40px;
    height: 4px;
    background-color: white;
    margin-top: 3px;
    margin-bottom: 3px;
}

.wrap {
    margin-right: 80%;
}

@media (min-width: 499px) {
    .wrap {
        display: none;

    }
}