.NavItems {
    align-items: center;
    height: 100%;
    list-style: none;
    box-sizing: border-box;
}

@media(min-width: 500px) {
    .NavItems {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100%;
        list-style: none;
        box-sizing: border-box;
    }
}